rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Função básica de dono
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Regras para Usuários
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Regras para Clínicas
    match /clinicas/{docId} {
      allow read, write: if request.auth != null && (resource == null || resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid);
    }

    // Regras para Auditorias e Laudos
    match /auditorias/{docId} {
      allow read, write: if request.auth != null && (resource == null || resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid);
    }

    match /laudos/{docId} {
      allow read, write: if request.auth != null && (resource == null || resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid);
    }

    // Regras para Controlados
    match /controlados/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }

    // Regras para Templates Globais
    match /template/{docId} {
      allow read: if request.auth != null;
    }
  }
}
